
html {
  height: 100%;
  width: 100%;
}
#descricao, #valor, #data{
  background-color: aliceblue;
  border: 2.5px solid #4CAF50;
  border-radius: 15px;
  color:black;
  width: 90%;
  align-items: center;
}
#tipo{
  background-color: #4CAF50;
  border-color: #4CAF50;
}

 body {
      font-family: Arial, sans-serif;
      background-color:#1a6d2c;
      background-image: linear-gradient(to bottom right, #8fcec0, #cdfff4);
    }
    
    .container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
    
    .esquerda{
      width: 55%;
      border: 3px solid #4CAF50;
      border-radius: 45px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      background-color: #a6ffa9;
      padding: 2%;
    }
    .direita{
      width: 35%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      border: 3px solid #a6ffa9;
      border-radius: 25px;
      background-color: #cdfff4;
      padding: 2%;
    }
    h1 {
      text-align: center;
    }
    
    form {
      margin-bottom: 20px;
    }
    
    input[type="text"], input[type="number"], input[type="date"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: black;
      border: none;
      cursor: pointer;
      border: 2px #4CAF50 solid;
      border-radius: 15px;
    }
    
    #transacoes {
      margin-top: 20px;
    }
    
    #transacoes h2 {
      margin-bottom: 10px;
    }
    
    #transacoes ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .transacao {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkcyan;
      padding: 10px 0;
    }
    
    .transacao .descricao {
      flex-grow: 1;
    }
    
    .transacao .valor {
      flex-grow: 0;
      margin-left: 10px;
    }
    
    .transacao .data {
      flex-grow: 0;
      margin-left: 10px;
    }
    
    .transacao .acoes {
      display: flex;
      justify-content: flex-end;
      align-items: center;
     
    }
    
    .transacao .acoes button {
      margin-left: 10px;
      background-color: #4CAF50;
      border: #4CAF50 solid;
    }
    
    .saldo {
      font-weight: bold;
      margin-top: 10px;
    }
    
    .saldo .receita {
      color: #20771c
    }
    
    .saldo .gasto {
      color: red;
    }
    
    .mensagem {
      margin-top: 10px;
      font-weight: bold;
      text-align: center;
    }
    
    .mensagem.success {
      color: #1c4e18
    }
    
    .mensagem.error {
      color: red;
    }
